
<!DOCTYPE html>
<html>
<head>
    <title>{{flatpage.title}}</title>
</head>
<h2>{{flatpage.title}}</h2>
<hr>
<body>
<p>&nbsp;</p>
<i><p>1. &ldquo;Не гонялся бы ты, поп, за дешевизной.&rdquo;</p></i>
<i><p>2. &ldquo;Человек человеку волк, а женщина всегда волк.&rdquo;</p></i>
<i><p>3. &ldquo;Нет таких женщин, которые не любили бы ушами.&rdquo;</p></i>
<i><p>4. &ldquo;Как говорил мой папа, не надо делать из еды культа.&rdquo;</p></i>
<i><p>5. &ldquo;Если вы хотите иметь успех, вы должны выглядеть как человек, который имеет успех.&rdquo;</p></i>
<i><p>6. &ldquo;Жизнь коротка, искусство вечно.&rdquo;</p></i>
<i><p>7. &ldquo;Я не могу ждать, пока мне подадут на блюдечке с голубой каемочкой.&rdquo;</p></i>
<i><p>8. &ldquo;Надо всегда быть готовым к тому, что тебя могут съесть.&rdquo;</p></i>
<i><p>9. &ldquo;Никогда не поздно начать все сначала.&rdquo;</p></i>
<i><p>10. &ldquo;Каждый человек имеет свои слабости, но не каждый умеет их использовать.&rdquo;</p></i>
</body>
</html>